body{
	background-color: green;
*{
	font-family: 'Times New Roman', 'Tahoma','Sans-serif' !important
}
.Text{
	margin-top:200px; 
	color: black;
	text-align: center;
}
h1 {
	font-size: 55px;
	font-weight: bold;
}